*{
    font-family: karla;
}
.header-content{
    text-indent: 50px;
}
.header-content h1{
    color: hsl(179, 62%, 43%);
    padding-top: 50px;
}
.header-content h3{
    color: hsl(71, 73%, 54%);
    font-size: 22px;
}
body{
    background-color: hsl(204, 43%, 93%);
    margin-top: 250px;
    margin-left: 250px;
    margin-bottom: 400px;
    margin-right: 500px;

    
}
.header-content p{
    color: grey;
    font-size: 20px;
}
.header-content{
    background-color: white;
    width: 900px;
    height: 250px;
    border-radius: 5px;
}
section .about{
    background-color: hsl(179, 62%, 43%);
    height: 400px;
    width: 400px;
    text-indent: 50px;
    border-bottom-left-radius: 5px;
}
span{
    color: #fff;
}
button{
    background-color: hsl(71, 73%, 54%);
    padding: 16px 100px;
    border-radius: 4px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
section .extra{
    background-color: hsl(179, 62%, 46%);
    width: 500px;
    height: 375px;
    border-bottom-right-radius: 5px;
    text-indent: 40px;
    color: hsl(204, 43%, 93%);
    padding-top: 25px;
}
section{
    display: flex;
       
}
div .tag{
    display: flex;
}

.time{
    text-indent: 10px;
    color: hsl(204, 43%, 93%);
}
div .info{
    color: hsl(204, 43%, 93%); 
}
h2 .price{
    font-size: 40px;
    overflow-x: hidden;
}
.extra h2{
    font-size: 30px;
}
.extra p{
    font-size: 20px;
    line-height: 1rem;
}

